{% extends '@CrosierLibBase/index.html.twig' %}


{% block page_content %}
    
    <div id="divMemed"></div>

{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags(jsEntry) }}
    {% if altJsEntries|default(false) %}
        {% for altJsEntry in altJsEntries %}
            {{ altJsEntry|raw }}
        {% endfor %}
    {% endif %}
{% endblock %}