<footer class="app-footer">
    <div>
        <a href="https://www.crosier.com.br" target="_blank">CROSIER - Enterprise Resource Planning</a>
        <span>&copy; 2019</span>
    </div>
    <div class="ml-auto">
        <span>Powered by</span>
        <a href="https://www.ekt.com.br">Ekt Plus</a>
    </div>
</footer>