<footer class="footer small text-muted">

    <div>
        <a href="https://www.crosier.com.br" target="_blank">CROSIER - Enterprise Resource Planning</a>
        <span>&copy; 2019 - 2023</span>
    </div>
    <div class="ms-auto">
        <span>Por </span>
        <a href="https://www.ektplus.com.br">EKT Plus</a>
    </div>
    
</footer>