<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <ul class="c-header-nav ml-auto mr-4">
        <li class="c-header-nav-item d-md-down-none mx-2">
            <i class="fas fa-user"></i> {{ app.user.username }}
        </li>
        <li class="c-header-nav-item d-md-down-none mx-2">
            <button type="button" class="btn btn-success mr-2 ml-2"
                    onclick="window.location.href = '{{ getEnv('CROSIERCORE_URL') }}/logout'"><i
                        class="fas fa-sign-out-alt"></i> Sair
            </button>
        </li>
    </ul>
</header>
