{% extends '@CrosierLibBase/base-vue.html.twig' %}

{% block up_scripts %}
    {{ encore_entry_link_tags(jsEntry) }}
{% endblock %}

{% block body %}

    <div class="wrapper d-flex flex-column min-vh-100 bg-light">

        <div class="body flex-grow-1 px-1">
            <div class="container-fluid-lg">

                <div id="app">
                </div>
                <div id="serverParams" style="display: none">{{ serverParams|default('') }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block down_scripts %}
    {{ encore_entry_script_tags(jsEntry) }}
    {% if altJsEntries|default(false) %}
        {% for altJsEntry in altJsEntries %}
            {{ altJsEntry|raw }}
        {% endfor %}
    {% endif %}
{% endblock %}
